<h3>Thanks for playing!</h3>
<h4><%= session[:player_name] %> finished with a total of $<%= session[:player_amount] %></h4>
<p>Maybe it's time to hit up Vegas?</p>
</br>

<a href='/new_player' class='btn btn-success'>Practice?</a>